<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.simplemall.mapper.OrderMapper">
    <!--条件查询-->
    <select id="orderListPage" resultType="com.simplemall.pojo.Order">
        select *
        from `order`
        <where>
            <if test="uId != null">
                and u_id like concat('%',#{uId},'%')
            </if>
            and status = 0
        </where>
    </select>
</mapper>