<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.simplemall.mapper.OrderMapper">
    <!--条件查询-->
    <select id="orderListPage" resultType="com.simplemall.pojo.Order">
        SELECT o.*, p.p_name AS pName
        FROM `order` o
        JOIN `product` p ON o.product_id = p.product_id
        <where>
            <if test="uId != null">
                AND o.u_id LIKE CONCAT('%', #{uId}, '%')
            </if>
            AND o.status = 0
        </where>
    </select>
</mapper>

